<section id="section--{{section.id}}" {% if section.settings.bg_img != blank %}
    style="background-image: url('{{section.settings.bg_img | img_url: 'master'}}')"
{% endif %}>
    <div class="custom-collections--content page-width">
        <div class="custom-collections--header__wrapper">
            {% if section.settings.title != blank %}
                <h2 class="title lg--f2 sm--f40 ff-heading fw-light uppercase">{{ section.settings.title }}</h2>
            {% endif %}       
            <div class="button--wrapper">
                {% if section.settings.btn_1 != blank %}
                    <a class="btn uppercase ff-body sm--f14 lg--f16" href="{{ section.settings.btn_url_1 }}">{{ section.settings.btn_1 }}</a>
                {% endif %}
                {% if section.settings.btn_2 != blank %}
                    <a class="btn uppercase ff-body sm--f14 lg--f16" href="{{ section.settings.btn_url_2 }}">{{ section.settings.btn_2 }}</a>
                {% endif %}
            </div> 
        </div>
        <div class="custom-collections--wrapper">
            {% if section.settings.collections != blank %}
                {% for collection in section.settings.collections limit: 3 %}
                    <div class="custom-collection--wrapper">
                        {%- if collection.image -%}
                            {%- assign collection_image = collection.image -%}
                        {%- elsif collection.products.first and collection.products.first.images != empty -%}
                            {%- assign collection_image = collection.products.first.featured_image -%}
                        {%- else -%}
                            {%- assign collection_image = blank -%}
                        {%- endif -%}
                        <img src="{{ collection_image | img_url: '480x' }}" alt="{{ collection_image.alt | escape }}">
                        <div class="title-count--wrapper">
                            <h5 class="title ff-heading lg--f32 sm--f30 uppercase">{{ collection.title }}</h5>
                            <div class="product--count ff-heading lg--f14 sm--f14">({{collection.products.size}})</div>
                        </div>
                        <a class="btn uppercase ff-body sm--f16 lg--f16" href="{{ collection.url }}">
                            Shop now
                        </a>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>
</section>
<style>
    #section--{{section.id}} {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom}}px;
    }
    @media (max-width: 1024px) {
        #section--{{section.id}} {
            padding-top: {{ section.settings.padding_top | times: 0.7 }}px;
            padding-bottom: {{ section.settings.padding_bottom | times: 0.7}}px;
        }
    }
    @media (max-width: 767px) {
        #section--{{section.id}} {
            padding-top: {{ section.settings.padding_top_mobile }}px;
            padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
        }
    }
</style>
{% schema %}
    {
        "name": "Custom collections",
        "class": "custom-collections",
        "settings": [
            {
                "type": "header",
                "content": "Collections",
                "info": "You can add the collections"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "Listen to your skin"
            },
            {
                "type": "collection_list",
                "id": "collections",
                "label": "Collection"
            },
            {
                "type": "text",
                "id": "btn_1",
                "label": "First button label"
            },
            {
                "type": "url",
                "id": "btn_url_1",
                "label": "First button url"
            },
            {
                "type": "text",
                "id": "btn_2",
                "label": "Second button label"
            },
            {
                "type": "url",
                "id": "btn_url_2",
                "label": "Second button url"
            },
            {
                "type": "image_picker",
                "id": "bg_img",
                "label": "Background image"
            },
            {
                "type": "header",
                "content": "Padding on desktop",
                "info": "You can adjust the padding on desktop"
            },
            {
                "type": "range",
                "id": "padding_top",
                "min": 0,
                "max": 200,
                "step": 10,
                "unit": "px",
                "label": "Top Padding",
                "default": 50
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "min": 0,
                "max": 200,
                "step": 10,
                "unit": "px",
                "label": "Bottom Padding",
                "default": 50
            },
            {
                "type": "header",
                "content": "Padding on mobile",
                "info": "You can adjust the padding on mobile"
            },
            {
                "type": "range",
                "id": "padding_top_mobile",
                "min": 0,
                "max": 200,
                "step": 10,
                "unit": "px",
                "label": "Top Padding",
                "default": 20
            },
            {
                "type": "range",
                "id": "padding_bottom_mobile",
                "min": 0,
                "max": 200,
                "step": 10,
                "unit": "px",
                "label": "Bottom Padding",
                "default": 20
            }
        ],
        "presets": [
            {
                "name": "Custom collection"
            }
        ]
    }
{% endschema %}
