{%- liquid
  assign articles_printed_count = 0
  assign bg_color = section.settings.background-color
  assign blog = blogs[section.settings.blog]
  assign blog_heading = section.settings.blog-heading | escape
  assign container_width = section.settings.container-width
  assign light_text = section.settings.light-text
  assign selected_tag = section.settings.tag-select | downcase | escape
  assign show_date = section.settings.show-date
  assign show_excerpt = section.settings.show-excerpt
  assign spacing_above = section.settings.spacing-above
  assign spacing_below = section.settings.spacing-below
  assign view_more_text = section.settings.view-more-text | escape
  assign tag_found = false

  assign button_type = 'button'
  if light_text
    assign button_type = 'inverted-secondary-button'
  endif

  assign columns = 3
  if blog.articles.size == 1 or blog.articles.size == 2
    assign columns = blog.articles.size
  endif
-%}

{% comment %} View {% endcomment %}
<featured-blog-root
  id="section--{{section.id}}"
  class="featured-blog--root page-width"
  data-background-color="{{ bg_color }}"
  data-section-id="{{ section.id }}"
  data-light-text="{{ light_text }}"
  data-spacing-above="{{ spacing_above }}"
  data-spacing-below="{{ spacing_below }}"
  style="display:block;"
>
  <div class="featured-blog--wrapper">
    {% if blog_heading != blank %}
      

      <div class="featured-blog--header">
        <h2 class="featured-blog--heading uppercase ff-heading lg--f2" data-item="section-heading">
          {{ blog_heading }}
        </h2>
        {% if view_more_text != blank %}
            <a class="btn" data-item="{{ button_type }}" href="{{ blog.url }}">
              <div>{{ view_more_text }}</div>
            </a>
          
        {% endif %}
      </div>

    {% endif %}

    <div
      class="featured-blog--grid"
      data-container="panel"
      data-columns="{{ columns }}"
      data-mobile-columns="1"
    >
      {%- liquid
        if blog.articles.size > 0
          for article in blog.articles
            for tag in article.tags
              assign escaped_tag = tag | downcase | escape

              if escaped_tag == selected_tag
                assign tag_found = true

                render "article--item", featured_article: article, show_date: show_date, show_excerpt: show_excerpt, type: 'full_article'
                assign articles_printed_count = articles_printed_count | plus: 1
                break
              endif
            endfor

            if articles_printed_count == 3
              break
            endif
          endfor

          if tag_found == false
            for article in blog.articles limit: 3
              render "article--item", featured_article: article, show_date: show_date, show_excerpt: show_excerpt, type: 'full_article'
            endfor
          endif

        else
          for i in (1..3)
            render "article--item", show_date: show_date, show_excerpt: show_excerpt, type: 'placeholder'
          endfor

        endif
      -%}
    </div>
    <div class="lg--hide scroll-controller">
      <div class="item--count">
          <span class="position">1</span>/<span>{{ blog.articles.size }}</span>
      </div>
      <div class="scroll-bar"><div class="scroll-tumb"></div></div>
      <div class="scroll-button">
          <img class="prev_btn" src="{{'prev_btn.png' | asset_url }}">
          <img class="next_btn" src="{{'next_btn.png' | asset_url }}">
      </div>
    </div>
    
  </div>
</featured-blog-root>

<script type="module">
  import "{{ 'featured-blog.js' | asset_url }}";
  var blogSlider = function() {
    const prev_btn = document.querySelector('#section--{{ section.id }} .scroll-button .prev_btn');
    const next_btn = document.querySelector('#section--{{ section.id }} .scroll-button .next_btn');
    const scroll_content = document.querySelector('#section--{{ section.id }} .featured-blog--grid');
    const scroll_content_width = scroll_content.offsetWidth;
    const count = document.querySelector('#section--{{ section.id }} .item--count .position');
    var scroll_position = 0;
    const device_width = document.querySelector('body').offsetWidth;
    const item_width = document.querySelector('#section--{{ section.id }} .article--item').offsetWidth;
    const scroll_bar_width = document.querySelector('#section--{{ section.id }} .scroll-bar').offsetWidth;
    const scroll_tumb_width = scroll_bar_width / {{ blog.articles.size }};
    const scroll_tumb = document.querySelector('#section--{{ section.id }} .scroll-tumb')
    scroll_tumb.style.cssText += 'width: '+scroll_tumb_width+'px';
    scroll_content.on('scroll', event=> {
        scroll_position = scroll_content.scrollLeft;
        const num = Math.floor((scroll_position + item_width * 0.5) / item_width) + 1;
        if (num > {{blog.articles.size}}) {
            num = num - 1;
        }
        count.innerHTML = num;
        var margin_tumb = (num-1) * scroll_tumb_width;
        scroll_tumb.style.cssText += 'margin-left: '+margin_tumb+'px';
    })
    prev_btn.on('click', event=> {
        scroll_content.scrollTo({
          top: 0,
          left: scroll_position - (item_width+20),
          behavior: 'smooth'
        });
    })
    next_btn.on('click', event=> {
        scroll_content.scrollTo({
          top: 0,
          left: scroll_position + item_width+20,
          behavior: 'smooth'
        });  
    })
    
}

blogSlider();
</script>
<style>
  #section--{{section.id}} {
      padding-top: {{ section.settings.padding_top }}px;
      padding-bottom: {{ section.settings.padding_bottom}}px;
  }
  @media (max-width: 767px) {
      #section--{{section.id}} {
          padding-top: {{ section.settings.padding_top_mobile }}px;
          padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
      }
  }
</style>
{% schema %}
  {
   "name": "Blog posts",
   "settings":[
      {
      "id": "background-color",
      "label": "Background color",
      "type": "select",
      "options": [
        { "label": "None", "value": "none" },
        { "label": "Light", "value": "light" },
        { "label": "Dark", "value": "dark" },
        { "label": "Accent", "value": "accent" }
      ],
        "default": "none"
      },
      {
        "id": "light-text",
        "label": "Use light text color",
        "type": "checkbox",
        "default": false
      },
      {
        "id": "container-width",
        "label": "Width of container",
        "type": "range",
        "min": 1,
        "max": 5,
        "step": 1,
        "default": 4
      },
      {
        "id": "spacing-above",
        "label": "Spacing above",
        "type": "checkbox",
        "default": true
      },
      {
        "id": "spacing-below",
        "label": "Spacing below",
        "type": "checkbox",
        "default": true
      },
      {
        "id": "blog-heading",
        "label": "Heading",
        "type": "text",
        "default": "Blog posts"
      },
      {
        "id": "blog",
        "label": "Choose blog",
        "type": "blog"
      },
      {
        "id": "tag-select",
        "label": "Filter by tag",
        "type": "text",
        "default": "pinned",
        "info": "Tag articles with 'pinned' or change this to match an existing tag"
      },
      {
        "id": "show-date",
        "label": "Show date",
        "type": "checkbox",
        "default": true
      },
      {
        "id": "show-excerpt",
        "label": "Show excerpt",
        "type": "checkbox",
        "default": true
      },
      {
        "id": "view-more-text",
        "label": "View more text",
        "type": "text",
        "default": "View more"
      },
      {
        "type": "header",
        "content": "Padding on desktop",
        "info": "You can adjust the padding on desktop"
      },
      {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 200,
          "step": 10,
          "unit": "px",
          "label": "Top Padding",
          "default": 50
      },
      {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 200,
          "step": 10,
          "unit": "px",
          "label": "Bottom Padding",
          "default": 50
      },
      {
          "type": "header",
          "content": "Padding on mobile",
          "info": "You can adjust the padding on mobile"
      },
      {
          "type": "range",
          "id": "padding_top_mobile",
          "min": 0,
          "max": 200,
          "step": 10,
          "unit": "px",
          "label": "Top Padding",
          "default": 20
      },
      {
          "type": "range",
          "id": "padding_bottom_mobile",
          "min": 0,
          "max": 200,
          "step": 10,
          "unit": "px",
          "label": "Bottom Padding",
          "default": 20
      }
   ],
   "presets": [
      {
        "name": "Blog posts",
        "settings": {
          "blog": "News"
        }
      }
    ]
  }
{% endschema %}
