{%- liquid
  comment
    Variables
  endcomment

  assign bg_color = section.settings.background-color
  assign container_width = section.settings.container-width
  assign heading = section.settings.heading | escape
  assign light_text = section.settings.light-text
  assign overline = section.settings.overline | escape
  assign spacing_above = section.settings.spacing-above
  assign spacing_below = section.settings.spacing-below
  assign text = section.settings.text
  assign text_1=section.settings.text-1
  assign text_2=section.settings.text-2
  assign button_url=section.settings.button-url
  assign button_name=section.settings.button-name
  assign mobile_heading=section.settings.mobile-heading
  assign html5_video=section.settings.html5_video
   assign html5_video_M = section.settings.html5_video_M
-%}

{% comment %} View {% endcomment %}
<div
  id="section--{{section.id}}"
  class="featured-text--root sm-page-width"
  data-section-id="{{ section.id }}"
  data-background-color="{{ bg_color }}"
  data-container-width="{{ container_width }}"
  data-light-text="{{ light_text }}"
  data-spacing-above="{{ spacing_above }}"
  data-spacing-below="{{ spacing_below }}"
>
  <div class="featured-text--wrapper">
  {% if mobile_heading!=blank %}
    <h2 class="featured-text--heading-mobile uppercase sm--f40 ff-heading" data-item="section-heading">
        {{ mobile_heading }}
      </h2>
    {% endif %}
    {% if overline != blank %}
      <h3 class="featured-text--overline uppercase ff-heading sm--hide lg--f2 fw-light " data-item="overline">
        {{ overline | escape }}
      </h3>
    {% endif %}

    {% if heading != blank %}
      <h2 class="featured-text--heading uppercase ff-heading sm--hide lg--f2 fw-light " data-item="section-heading">
        {{ heading }}
      </h2>
    {% endif %}
    <div class="custom-text">
    <div class="featured-text--body ff-body sm--f16 lg--f18" data-item="rte-content">
      {{ text }}
    </div>
    {% if text_1 !=blank %}
    <div class="featured-text--body uppercase ff-body sm--f16 lg--f16" id="featured-text-cat"data-item="rte-content">
      {{ text_1 }}
    </div>
      {% endif %}
      {% if text_2 !=blank %}
    <div class="featured-text--body ff-body lg--f14 sm--f16 fw-light" id="featured-text-text" data-item="rte-content">
      {{ text_2 }}
    </div>
        {% endif %}
         {% if button_name !=blank %}
           <a href="{{ button_url }}">
    <div class="Richtext-button"  data-item="rte-content">
    <button class="custom-button">  {{  button_name }}</button>
    </div></a>
        {% endif %}
    </div>
    {% if html5_video != blank %}
      <div class="custom-video-with head">
        <div class="featured-content--image">
          <video id="video_id_desktop" class="Video-content desktop" loop="true" playsinline="playsinline"> 
            <source src="{{ html5_video }}">
          </video>
       
          
          <iframe id="video_id_mobile"  class="featured-video--play-mobile lg--hide" src="{{html5_video_M}}" width="352" height="390" frameborder="0" allow="autoplay; encrypted-media"  webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>  

  
      
    <div class="custom-vector desktop">
     
     {% render 'video-vector' %} 
       <div class="custom-vector-icon play">
  
     {% render 'video-icon' %} 
         </div>
       <div class="custom-vector-icon pause">
  
     {% render 'pause-icon' %} 
         </div>

    </div>
      
           
 </div>
      <!---div class="videomute">
       	<img id="video-mute" src="//cdn.shopify.com/s/files/1/0280/0035/4364/t/56/assets/mute.png?v=126087702582074586071658480708" class="mute">
      </div--->
 </div>
      {% endif %}
 
  </div>
</div>





{% schema %}
  {
    "name": "Rich text",
    "settings": [
      {
        "id": "background-color",
        "label": "Background color",
        "type": "select",
        "options": [
          { "label": "None", "value": "none" },
          { "label": "Light", "value": "light" },
          { "label": "Dark", "value": "dark" },
          { "label": "Accent", "value": "accent" }
        ],
        "default": "none"
      },
      {
        "id": "light-text",
        "label": "Use light text color",
        "type": "checkbox",
        "default": false
      },
      {
        "id": "container-width",
        "label": "Width of container",
        "type": "range",
        "min": 1,
        "max": 5,
        "step": 1,
        "default": 4
      },
      {
        "id": "spacing-above",
        "label": "Spacing above",
        "type": "checkbox",
        "default": true
      },
      {
        "id": "spacing-below",
        "label": "Spacing below",
        "type": "checkbox",
        "default": true
      },
      {
        "type": "header",
        "content": "Content"
      },
      {
        "id": "mobile-heading",
        "label": "use this for mobile heading",
        "type": "text",
        "default": "Mobile heading"
      },
      {
        "id": "overline",
        "label": "Overline",
        "type": "text",
        "default": "Overline text"
      },
      {
        "type": "text",
        "id": "heading",
        "label": "Heading",
        "default": "Introduce your brand"
      },
        {
      "type": "text",
      "id": "html5_video",
      "label": "HTML5 MP4/OGV File URL for Desktop"
    },
    {
      "type": "text",
      "id": "html5_video_M",
      "label": "HTML5 MP4/OGV File URL for Mobile"
    },
      {
        "type": "richtext",
        "id": "text",
        "label": "Text",
        "default": "<p>Introduce your brand, products and vision statement and welcome customers to your store.</p>"
      },
      {
        "type": "richtext",
        "id": "text-1",
        "label": "Text 2",
        "default": "<p>Introduce your brand, products and vision statement and welcome customers to your store.</p>"
      },
      {
        "type": "text",
        "id": "text-2",
        "label": "Text 3",
        "default": "<p>Introduce your brand, products and vision statement and welcome customers to your store.</p>"
      },
      {
        "type": "text",
        "id": "button-name",
        "label": "Button text"
        
      },
      {
        "type": "url",
        "id": "button-url",
        "label": "button link"
        
      }
      
    ],
    "presets": [
      {
        "name": "Rich text"
      }
    ]
  }
{% endschema %}
