<section id="section--{{ section.id }}">
    <div class="women-product__wrapper page-width">
        <div class="women--wrapper sm--hide">
            {% if section.settings.women_image != blank %}
                <img src="{{ section.settings.women_image | img_url: '800x800'}}" alt="{{ section.settings.women_image.alt | escape }}">
            {% endif %}
            {% if section.settings.subtitle != blank %}
                <h2 class="subtitle uppercase lg--f24 ff-heading">{{ section.settings.subtitle }}</h2>
            {% endif %}
            {% if section.settings.text != blank %}
                <div class="text lg--f18 ff-body">{{ section.settings.text }}</div>
            {% endif %}
        </div>
        <div class="product--wrapper">
            {% if section.settings.title != blank %}
                <h1 class="title fw-light uppercase sm--f40 ff-heading lg--f2">{{ section.settings.title }}</h1>
            {% endif %}
            {% if section.settings.product_image != blank %}
                <img src="{{ section.settings.product_image | img_url: '800x800'}}" alt="{{ section.settings.product_image.alt | escape }}">
            {% endif %}
        </div>
    </div>
</section>
<style>
    #section--{{section.id}} .women-product__wrapper {
        {% if section.settings.position == "left" %}
            flex-direction: row;
        {% else %}
            flex-direction: row-reverse;  
        {% endif %}
    }
    @media (max-width: 767px) {
        #section--{{section.id}} .women-product__wrapper {
            {% if section.settings.position == "left" %}
                flex-direction: column-reverse;
            {% else %}
                flex-direction: column;  
            {% endif %}
        }
    }
    #section--{{section.id}} {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom}}px;
    }
    @media (max-width: 767px) {
        #section--{{section.id}} {
            padding-top: {{ section.settings.padding_top_mobile }}px;
            padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
        }
    }
</style>
{% schema %}
    {
        "name": "Image and text",
        "class": "image-and-text",
        "settings": [
            {
                "type": "image_picker",
                "id": "women_image",
                "label": "Women image"
            },
            {
                "type": "text",
                "id": "subtitle",
                "label": "Subtitle"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "Text"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "image_picker",
                "id": "product_image",
                "label": "Product image"
            },
            {
                "type": "select",
                "id": "position",
                "label": "Position",
                "options": [
                    {
                        "group": "position",
                        "value": "left",
                        "label": "Left"
                    },
                    {
                        "group": "position",
                        "value": "right",
                        "label": "Right"
                    }
                ],
                "default": "left"
            },
            {
                "type": "header",
                "content": "Padding on desktop",
                "info": "You can adjust the padding on desktop"
            },
            {
                "type": "range",
                "id": "padding_top",
                "min": 0,
                "max": 200,
                "step": 10,
                "unit": "px",
                "label": "Top Padding",
                "default": 50
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "min": 0,
                "max": 200,
                "step": 10,
                "unit": "px",
                "label": "Bottom Padding",
                "default": 50
            },
            {
                "type": "header",
                "content": "Padding on mobile",
                "info": "You can adjust the padding on mobile"
            },
            {
                "type": "range",
                "id": "padding_top_mobile",
                "min": 0,
                "max": 200,
                "step": 10,
                "unit": "px",
                "label": "Top Padding",
                "default": 20
            },
            {
                "type": "range",
                "id": "padding_bottom_mobile",
                "min": 0,
                "max": 200,
                "step": 10,
                "unit": "px",
                "label": "Bottom Padding",
                "default": 20
            }
        ],
        "presets": [
            {
                "name": "Image and text"
            }
        ]
    }
{% endschema %}
