<section id="section--{{ section.id }}">
    <div class="review-slider--wrapper page-width">
        {% if section.settings.title_firstline != blank %}
            <h1 class="title lg--f2 ff-heading sm--f40 uppercase">{{ section.settings.title_firstline }}</h1>
        {% endif %}
        <div class="title_content">
            {% if section.settings.title_secondline %}
                <h1 class="title lg--f2 sm--f40 ff-heading uppercase">{{ section.settings.title_secondline }}</h1>
            {% endif %}
            {% if section.settings.subtitle != blank %}
                <div class="subtitle fw-light ff-body lg--f18 sm--f16">{{ section.settings.subtitle }}</div>
            {% endif %}
        </div>
        <div class="slider--wrapper">
            <div class="slider--content">
                {% for block in section.blocks %}
                    <div class="review-slider--item">
                        <div class="image--wrapper">
                            {% if block.settings.before_image != blank %}
                                <div class="before_image">
                                    <img src="{{ block.settings.before_image | img_url: '400x400'}}" alt="{{ block.settings.before_image.alt | escape }}">
                                </div>
                            {% endif %}
                            {% if block.settings.after_image != blank %}
                                <div class="after_image">
                                    <img src="{{ block.settings.after_image | img_url: '400x400'}}" alt="{{ block.settings.after_image.alt | escape }}">
                                </div>
                            {% endif %}
                        </div>
                        <div class="data--wrapper">
                            {% if block.settings.reviewer != blank %}
                                <h4 class="reviewer lg--f24 sm--f30 ff-body uppercase">{{ block.settings.reviewer }}</h4>
                            {% endif %}
                            <div class="star-date--wrapper">
                                {% for I in (1..block.settings.star_count) %}
                                    <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M15.979 6.16358C15.9239 5.99384 15.7772 5.87017 15.6006 5.84451L10.6399 5.12364L8.4214 0.628501C8.34242 0.468481 8.17946 0.367188 8.001 0.367188C7.82257 0.367188 7.65959 0.468512 7.58061 0.628501L5.36196 5.12367L0.401389 5.84451C0.224805 5.87017 0.0780998 5.99387 0.0229681 6.16358C-0.0321949 6.33329 0.0138107 6.51959 0.141576 6.64414L3.73101 10.1432L2.88379 15.0839C2.85363 15.2597 2.92595 15.4375 3.07031 15.5423C3.21464 15.6472 3.40597 15.6611 3.56402 15.578L8.00097 13.2454L12.4378 15.5781C12.5064 15.6141 12.5813 15.6319 12.6559 15.6319C12.7531 15.6319 12.8499 15.6017 12.9315 15.5424C13.0759 15.4375 13.1482 15.2598 13.118 15.0839L12.2706 10.1432L15.8604 6.64417C15.9882 6.51959 16.0342 6.33329 15.979 6.16358Z" fill="black"/>
                                    </svg>
                                {% endfor %}
                                {% if block.settings.date != blank %}
                                    <span class="date ff-body lg--f16 sm--f14 fw-light">{{block.settings.date}}</span>
                                {% endif %}
                            </div>
                            <div class="data--table">
                                {% if block.settings.age != blank %}
                                    <div class="age--content">
                                        <p class="age--header ff-body">Age</p>
                                        <p class="age--body ff-body">{{ block.settings.age }}</p>
                                    </div>
                                {% endif %}
                                {% if block.settings.skin_type != blank %}
                                    <div class="type--content">
                                        <p class="type--header ff-body">Skin Type</p>
                                        <p class="type--body ff-body">{{ block.settings.skin_type }}</p>
                                    </div>
                                {% endif %}
                                {% if block.settings.skin_concerns != blank %}
                                    <div class="concerns--content">
                                        <p class="concerns--header ff-body">What are your skin concerns?</p>
                                        <p class="concerns--body ff-body">{{ block.settings.skin_concerns }}</p>
                                    </div>
                                {% endif %}
                            </div>
                            {% if block.settings.description != blank %}
                                <div class="description ff-body lg--f18">
                                    {{ block.settings.description }}
                                </div>
                            {% endif %}
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="item--count">
                <span class="position">1</span>/<span>{{ section.blocks.size }}</span>
            </div>
            <div class="scroll-bar"><div class="scroll-tumb"></div></div>
            <div class="scroll-button">
                <img class="prev_btn" src="{{'prev_btn.png' | asset_url }}">
                <img class="next_btn" src="{{'next_btn.png' | asset_url }}">
            </div>
        </div>
    </div>
</section>
<style>
    #section--{{section.id}} {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom}}px;
    }
    @media (max-width: 767px) {
        #section--{{section.id}} {
            padding-top: {{ section.settings.padding_top_mobile }}px;
            padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
        }
    }
</style>
<script>
    var reviewSlider = function() {
        const prev_btn = document.querySelector('.scroll-button .prev_btn');
        const next_btn = document.querySelector('.scroll-button .next_btn');
        const scroll_content = document.querySelector('.slider--content');
        const scroll_content_width = scroll_content.offsetWidth;
        const count = document.querySelector('.item--count .position');
        var scroll_position = 0;
        const device_width = document.querySelector('body').offsetWidth;
        const item_width = document.querySelector('.review-slider--item').offsetWidth;
        const scroll_bar_width = document.querySelector('.scroll-bar').offsetWidth;
        const scroll_tumb_width = scroll_bar_width / {{ section.blocks.size }};
        const scroll_tumb = document.querySelector('.scroll-tumb')
        scroll_tumb.style.cssText += 'width: '+scroll_tumb_width+'px';
        scroll_content.on('scroll', event=> {
            scroll_position = scroll_content.scrollLeft;
            const num = Math.floor((scroll_position + item_width * 0.5) / item_width) + 1;
            if (num > {{section.blocks.size}}) {
                num = num - 1;
            }
            count.innerHTML = num;
            var margin_tumb = (num-1) * scroll_tumb_width;
            scroll_tumb.style.cssText += 'margin-left: '+margin_tumb+'px';
            console.log(margin_tumb);
        })
        prev_btn.on('click', event=> {
            scroll_content.scrollTo({
              top: 0,
              left: scroll_position - (item_width+20),
              behavior: 'smooth'
            });
        })
        next_btn.on('click', event=> {
            scroll_content.scrollTo({
              top: 0,
              left: scroll_position + item_width+20,
              behavior: 'smooth'
            });  
        })
        
    }
   
    reviewSlider();
</script>
{% schema %}
    {
        "name": "Review slider",
        "class": "review-slider",
        "settings": [
            {
                "type": "text",
                "id": "title_firstline",
                "label": "First line title"
            },
            {
                "type": "text",
                "id": "title_secondline",
                "label": "Second line title"
            },
            {
                "type": "richtext",
                "id": "subtitle",
                "label": "Subtitle"
            },
            {
                "type": "header",
                "content": "Padding on desktop",
                "info": "You can adjust the padding on desktop"
            },
            {
                "type": "range",
                "id": "padding_top",
                "min": 0,
                "max": 200,
                "step": 10,
                "unit": "px",
                "label": "Top Padding",
                "default": 50
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "min": 0,
                "max": 200,
                "step": 10,
                "unit": "px",
                "label": "Bottom Padding",
                "default": 50
            },
            {
                "type": "header",
                "content": "Padding on mobile",
                "info": "You can adjust the padding on mobile"
            },
            {
                "type": "range",
                "id": "padding_top_mobile",
                "min": 0,
                "max": 200,
                "step": 10,
                "unit": "px",
                "label": "Top Padding",
                "default": 20
            },
            {
                "type": "range",
                "id": "padding_bottom_mobile",
                "min": 0,
                "max": 200,
                "step": 10,
                "unit": "px",
                "label": "Bottom Padding",
                "default": 20
            }
        ],
        "blocks": [
            {
                "type": "review",
                "name": "Review item",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "before_image",
                        "label": "Before image"
                    },
                    {
                        "type": "image_picker",
                        "id": "after_image",
                        "label": "After image"
                    },
                    {
                        "type": "text",
                        "id": "reviewer",
                        "label": "Reviewer"
                    },
                    {
                        "type": "range",
                        "id": "star_count",
                        "min": 0,
                        "max": 5,
                        "step": 1,
                        "unit": "N",
                        "label": "Star count",
                        "default": 5
                    },
                    {
                        "type": "text",
                        "id": "date",
                        "label": "Date"
                    },
                    {
                        "type": "text",
                        "id": "age",
                        "label": "Age"
                    },
                    {
                        "type": "text",
                        "id": "skin_type",
                        "label": "Skin type"
                    },
                    {
                        "type": "text",
                        "id": "skin_concerns",
                        "label": "Skin concerns"
                    },
                    {
                        "type": "richtext",
                        "id": "description",
                        "label": "Description"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Review slider"
            }
        ]
    }
{% endschema %}
