<section id="section--{{section.id}}"  {% if section.settings.bg_img != blank %}
    style="background-image: url('{{section.settings.bg_img | img_url: 'master'}}')"
{% endif %}>
    <div class="testimonials--wrapper page-width">
        {% if section.settings.title != blank %}
            <h2 class="title uppercase ff-heading " style="{% unless section.settings.uppercase %}
                text-transform: unset !important;
            {% endunless %}">{{ section.settings.title }}</h2>
        {% endif %}
        <div class="testimonials--content">
            {% for block in section.blocks %}
                <div class="testimonial--item" data-id="{{block.id}}">
                    {% if block.settings.image != blank %}
                        <img src="{{ block.settings.image | img_url: '600x600'}}" alt="{{ block.settings.image.alt | escape }}">
                    {% endif %}
                    <div class="title-star-date">
                        {% if block.settings.title != blank %}
                            <h5 class="title uppercase ff-body">{{ block.settings.title }}</h5>                        
                        {% endif %}
                        {% if block.settings.subtitle != blank %}
                            <p class="subtitle ff-body lg--f16">{{ block.settings.subtitle }}</p>
                        {% endif %}
                        
                    </div>
                    <div class="star-date--wrapper">
                        {% for I in (1..5) %}
                            {% if I > block.settings.star_count %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="17.02" height="16.012" viewBox="0 0 17.02 16.012">
                                <path id="Path_46" data-name="Path 46" d="M95.989,6.063a.467.467,0,0,0-.379-.314L90.65,5.041,88.431.624a.473.473,0,0,0-.841,0L85.372,5.041l-4.96.708a.467.467,0,0,0-.379.314.455.455,0,0,0,.119.472l3.59,3.438-.847,4.855a.457.457,0,0,0,.187.45.476.476,0,0,0,.494.035l4.437-2.292,4.437,2.292a.476.476,0,0,0,.494-.035.457.457,0,0,0,.187-.451L92.28,9.974l3.59-3.438A.455.455,0,0,0,95.989,6.063Z" transform="translate(-79.501 0.133)" fill="none" stroke="#f2a7a0" stroke-width="1"/>
                                </svg>
                                {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="16.002" height="15" viewBox="0 0 16.002 15">
                                    <path id="Path_45" data-name="Path 45" d="M75.986,6.063a.467.467,0,0,0-.378-.314l-4.961-.708L68.428.624a.473.473,0,0,0-.841,0L65.369,5.041l-4.961.708a.467.467,0,0,0-.378.314.455.455,0,0,0,.119.472l3.589,3.438-.847,4.855a.457.457,0,0,0,.187.45.476.476,0,0,0,.494.035l4.437-2.292,4.437,2.292a.476.476,0,0,0,.494-.035.457.457,0,0,0,.187-.451l-.848-4.855,3.59-3.438A.455.455,0,0,0,75.986,6.063Z" transform="translate(-60.007 -0.367)" fill="#f2a7a0"/>
                                </svg>
                                  
                            {% endif %}
                        {% endfor %}
                        {% comment %} {% if block.settings.date != blank %}
                            <span class="date ff-body lg--f16 sm--f14 fw-light">{{block.settings.date}}</span>
                        {% endif %} {% endcomment %}
                    </div>
                    {% if block.settings.description != blank %}
                        {% assign description = block.settings.description %}
                        {% if description.size > 160 %}
                            {% assign description = description | truncate: 160, '...' %}
                            <div class="description active ff-body fs--body">{{ description }}</div>
                            <div class=" description_more ff-body fs--body">{{ block.settings.description }}</div>
                            <a href="javascript:;" data-id="{{block.id}}"  class="read_more_btn ff-body lg--f16" id="read_more_btn--{{block.id}}">View more</a>
                        {% else %}
                            <div class="description active ff-body ">{{ description }}</div>
                        {% endif %}
                        
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<style>
    #section--{{section.id}} {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom}}px;
    }
    @media (max-width: 1024px) {
        #section--{{section.id}} {
            padding-top: {{ section.settings.padding_top | times: 0.7 }}px;
            padding-bottom: {{ section.settings.padding_bottom | times: 0.7}}px;
        }
    }
    @media (max-width: 767px) {
        #section--{{section.id}} {
            padding-top: {{ section.settings.padding_top_mobile }}px;
            padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
        }
    }
    
</style>
<script>
    const btns = document.getElementsByClassName('read_more_btn');
    
    for(let i = 0; i < btns.length; i++ ) {
        btns[i].on('click', event=> {
            var id = btns[i].getAttribute('data-id');
            var description = document.querySelector('[data-id="'+id+'"] .description');
            var description_more = document.querySelector('[data-id="'+id+'"] .description_more');
            if (!description_more.classList.contains('active')) {
                description.classList.remove('active');
                description_more.classList.add('active');
                btns[i].innerHTML = "View less"
            } else {
                description.classList.add('active');
                description_more.classList.remove('active');
                btns[i].innerHTML = "View more";
            }
        })
    }

</script>
{% schema %}
    {
        "name": "Testimonials",
        "class": "testimonials-section",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title",
                "default": "Testimonials"
            },
            {
                "type": "checkbox",
                "id": "uppercase",
                "label": "Text uppercase",
                "default": true
            },
            {
                "type": "image_picker",
                "id": "bg_img",
                "label": "Background image"
            },
            {
                "type": "header",
                "content": "Padding on desktop",
                "info": "You can adjust the padding on desktop"
            },
            {
                "type": "range",
                "id": "padding_top",
                "min": 0,
                "max": 200,
                "step": 10,
                "unit": "px",
                "label": "Top Padding",
                "default": 50
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "min": 0,
                "max": 200,
                "step": 10,
                "unit": "px",
                "label": "Bottom Padding",
                "default": 50
            },
            {
                "type": "header",
                "content": "Padding on mobile",
                "info": "You can adjust the padding on mobile"
            },
            {
                "type": "range",
                "id": "padding_top_mobile",
                "min": 0,
                "max": 200,
                "step": 10,
                "unit": "px",
                "label": "Top Padding",
                "default": 20
            },
            {
                "type": "range",
                "id": "padding_bottom_mobile",
                "min": 0,
                "max": 200,
                "step": 10,
                "unit": "px",
                "label": "Bottom Padding",
                "default": 20
            }
        ],
        "blocks": [
            {
                "type": "testimonial",
                "name": "Tetstimonial",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "image",
                        "label": "Image"
                    },
                    {
                        "type": "text",
                        "id": "title",
                        "label": "Title",
                        "default": "Nina l."
                    },
                    {
                        "type": "text",
                        "id": "subtitle",
                        "label": "Subtitle",
                        "default": "@Ninal L."
                    },
                    {
                        "type": "range",
                        "id": "star_count",
                        "min": 0,
                        "max": 5,
                        "step": 1,
                        "unit": "N",
                        "label": "Star count",
                        "default": 5
                    },
                    {
                        "type": "text",
                        "id": "date",
                        "label": "Date",
                        "default": "Jun 15, 2022"
                    },
                    {
                        "type": "richtext",
                        "id": "description",
                        "label": "Description",
                        "default": "<p>I have used many products before, but this eye serum is amazing, I think it works over night to make me look younger … just one time and I notified my age decrease 😄</p>"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Testimonials"
            }
        ]
    }
{% endschema %}
