<section id="section--{{section.id}}" {% if section.settings.bg_img != blank %}
    style="background-image: url('{{section.settings.bg_img | img_url: 'master'}}')"
{% endif %}>
    <div class="image-text--wrapper page-width">
        <div class="image--wrapper">
            {% if section.settings.image != blank %}
                <img class="sm--hide" src="{{ section.settings.image | img_url: '800x800' }}" alt="{{ section.settings.image.alt | escape }}">
            {% endif %}
            {% if section.settings.image_mobile != blank %}
                <img class="lg--hide" src="{{ section.settings.image_mobile | img_url: '800x800' }}" alt="{{ section.settings.image_mobile.alt | escape }}">
            {% endif %}
            {% if section.settings.play_btn != blank %}
                <img class="play_btn" src="{{ section.settings.play_btn | img_url: '100x100' }}" alt="{{ section.settings.play_btn.alt | escape }}">
            {% endif %}
        </div>
        <div class="text--wrapper">
            {% if section.settings.title != blank %}
                <h1 class="uppercase title ff-heading lg--f2 sm--f40 ">{{ section.settings.title }}</h1>
            {% endif %}
            {% if section.settings.text_image != blank %}
                <img class="text_image lg--hide" src="{{ section.settings.text_image | img_url: '800x800' }}" alt="{{ section.settings.text_image.alt | escape }}">
            {% endif %}
            
            {% if section.settings.subtitle != blank %}
                <h2 class="subtitle {% if section.settings.uppercase_subtitle %}
                    uppercase
                {% endif %} ff-body  {% if section.settings.subtitle_size == 'normal' %}
                    lg--f24 sm--f24
                    {% else %}
                        lg--f32 sm--f30
                {% endif %}">{{ section.settings.subtitle }}</h2>
            {% endif %}
            {% if section.settings.text != blank %}
                <div class="text lg--f18 ff-body sm--f16">{{ section.settings.text }}</div>
            {% endif %}
            {% if section.settings.btn_text != blank %}
                <a class="btn bg-transparent lg--f16 sm--hide uppercase" href="{{ section.settings.btn_url }}">{{ section.settings.btn_text }}</a>
            {% endif %}
            {% if section.blocks.size > 0 %}
                <div class="icon--wrapper">
                    {% for block in section.blocks %}
                        <img src="{{ block.settings.icon | img_url: '100x100'}}" alt="{{ block.settings.icon.alt | escape }}">
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    {% if section.settings.video != blank %}
        <div class="vimeo-shadowbox vimeo-shadowbox--hidden">
            <div class="vimeo-shadowbox__video-wrapper">
              <div class="vimeo-shadowbox__video">
                  <iframe class="video" src="{{section.settings.video}}" width="868" height="490" frameborder="0" webkitallowfullscreen mozallowfullscreen allow="autoplay; encrypted-media" allowfullscreen></iframe>  
              </div>
              <a class="vimeo-shadowbox__close-button" href="#">X</a>
            </div>
        </div>
    {% endif %}
</section>
{% if section.settings.video != blank %}
    
    <script>
        var iframe_twi = document.querySelector('#section--{{section.id}} .video');
        var player_twi = new Vimeo.Player(iframe_twi);
        var link_twi = document.querySelector('#section--{{section.id}} .play_btn');
        var shadowbox_twi = document.querySelector('#section--{{section.id}} .vimeo-shadowbox');
        var closeButton_twi = document.querySelector('#section--{{section.id}} .vimeo-shadowbox__close-button');
        
        function text_image_video () {
            player_twi.on('ended', function() {
                hidePopup();
            });
            link_twi.addEventListener('click', showPopup_twi);
            shadowbox_twi.addEventListener('click', hidePopup_twi);
            closeButton_twi.addEventListener('click', hidePopup_twi);
        }
        text_image_video();
    
        
        function showPopup_twi() {
            player_twi.play();
            shadowbox_twi.classList.remove('vimeo-shadowbox--hidden');
        }
        function hidePopup_twi() {
            player_twi.pause();
            shadowbox_twi.classList.add('vimeo-shadowbox--hidden');
        }
    </script>
{% endif %}
<style>
    #section--{{section.id}} .image-text--wrapper {
        {% if section.settings.position == "left" %}
            flex-direction: row;
            {% else %}
            flex-direction: row-reverse;  
        {% endif %}
    }
    @media (max-width: 767px) {
        #section--{{section.id}} .image-text--wrapper {
            {% if section.settings.position == "left" %}
                flex-direction: column-reverse;
                {% else %}
                flex-direction: column;  
            {% endif %}
        }
    }
    #section--{{section.id}} {
        padding-top: {{ section.settings.padding_top }}px;
        padding-bottom: {{ section.settings.padding_bottom}}px;
    }
    @media (max-width: 1024px) {
        #section--{{section.id}} {
            padding-top: {{ section.settings.padding_top | times: 0.7 }}px;
            padding-bottom: {{ section.settings.padding_bottom | times: 0.7}}px;
        }
    }
    @media (max-width: 767px) {
        #section--{{section.id}} {
            padding-top: {{ section.settings.padding_top_mobile }}px;
            padding-bottom: {{ section.settings.padding_bottom_mobile }}px;
        }
    }
    #section--{{section.id}} .image-text--wrapper .text--wrapper .subtitle em::after {
        background: url("{{ 'wave-icon.png' | asset_url }}");
        background-size: contain;
        background-repeat: no-repeat;
        background-repeat-x: repeat;
    }
</style>
{% schema %}
    {
        "name": "Text with image",
        "class": "text-with-image",
        "settings": [
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "image_picker",
                "id": "text_image",
                "label": "Title image"
            },
            {
                "type": "video_url",
                "id": "video",
                "label": "Video",
                "accept": ["youtube", "vimeo"]
            },
            {
                "type": "richtext",
                "id": "subtitle",
                "label": "Subtitle"
            },
            {
                "type": "checkbox",
                "id": "uppercase_subtitle",
                "label": "Subtitle uppercase",
                "default": false
            },
            {
                "type": "select",
                "id": "subtitle_size",
                "label": "Subtitle font size",
                "options": [
                    {
                        "group": "size",
                        "value": "normal",
                        "label": "Normal"
                    },
                    {
                        "group": "size",
                        "value": "large",
                        "label": "Large"
                    }
                ],
                "default": "normal"
            },
            {
                "type": "richtext",
                "id": "text",
                "label": "Text"
            },
            {
                "type": "text",
                "id": "btn_text",
                "label": "Button text"
            },
            {
                "type": "url",
                "id": "btn_url",
                "label": "Button url"
            },
            {
                "type": "image_picker",
                "id": "image",
                "label": "Image"
            },
            {
                "type": "image_picker",
                "id": "image_mobile",
                "label": "Mobile image"
            },
            {
                "type": "image_picker",
                "id": "play_btn",
                "label": "Player button image"
            },
            {
                "type": "select",
                "id": "position",
                "label": "Image position",
                "options": [
                    {
                        "group": "position",
                        "value": "left",
                        "label": "Left"
                    },
                    {
                        "group": "position",
                        "value": "right",
                        "label": "Right"
                    }
                ],
                "default": "left"
            },
            {
                "type": "image_picker",
                "id": "bg_img",
                "label": "Background image"
            },
            {
                "type": "header",
                "content": "Padding on desktop",
                "info": "You can adjust the padding on desktop"
            },
            {
                "type": "range",
                "id": "padding_top",
                "min": 0,
                "max": 200,
                "step": 10,
                "unit": "px",
                "label": "Top Padding",
                "default": 50
            },
            {
                "type": "range",
                "id": "padding_bottom",
                "min": 0,
                "max": 200,
                "step": 10,
                "unit": "px",
                "label": "Bottom Padding",
                "default": 50
            },
            {
                "type": "header",
                "content": "Padding on mobile",
                "info": "You can adjust the padding on mobile"
            },
            {
                "type": "range",
                "id": "padding_top_mobile",
                "min": 0,
                "max": 200,
                "step": 10,
                "unit": "px",
                "label": "Top Padding",
                "default": 20
            },
            {
                "type": "range",
                "id": "padding_bottom_mobile",
                "min": 0,
                "max": 200,
                "step": 10,
                "unit": "px",
                "label": "Bottom Padding",
                "default": 20
            }
        ],
        "blocks": [
            {
                "type": "icon",
                "name": "Icon",
                "settings": [
                    {
                        "type": "image_picker",
                        "id": "icon",
                        "label": "Icon image"
                    }
                ]
            }
        ],
        "presets": [
            {
                "name": "Text with image"
            }
        ]
    }
{% endschema %}

